name: Android Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          
      - name: Install Dependencies
        run: |
          pip install flet
          # 这一步是为了防止 requirements.txt 没写对导致报错
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          
      - name: Build APK
        # 注意：这里加了 --yes，不管问什么都自动选是！
        run: flet build apk --verbose --yes
        
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/apk/app-release.apk
